
  <h2>Here are some trails for this location in {{hike.country}}:</h2>
  <ul>
    {{#each sortedTrails as |trail|}}
      <li>{{#link-to 'trail' trail.id}}{{trail.author}}'s {{trail.review}}{{/link-to}}</li>
    {{/each}}
  </ul>
