
<h3 id="title"><strong><em>HEY MIKE! I am creating a new site to meet this weeks code requirements. Currently about halfway done and will be coming back in this weekend on Sunday to finish everything up. Had to leave around 2pm on Friday to meet family in town. Hope you are having/had a good weekend. -REED</em></strong></h3>

{{outlet}}
