<h3><strong><em>Hike Rater!</em></strong></h3>

<h2>The path to your next secret spot</h2>

<ul>
   {{#each model as |hike|}}
     <li><h4>{{#link-to 'hike' hike.id}}{{hike.country}}{{/link-to}}</h4></li>
   {{/each}}
 </ul>


 <hr>
 {{new-hike saveHike="saveHike"}}
