
<h2>The trail to your secret spot awaits you!</h2>


<h2>Hikes</h2>
<ul>
   {{#each model.hikes as |hike|}}
     <li>{{#link-to 'hike' hike.id}}{{hike.location}}{{hike.country}}{{/link-to}}</li>
   {{/each}}
 </ul>


 <hr>

  {{new-hike saveHike="saveHike"}}
